@page "/appointments/update-appointment/{AppointmentId:int}"

<h3>Edit Appointment</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="appointments">
        Back
    </NavLink>
</div>

@*<EditForm Model="@_model" OnValidSubmit="@OnSubmit">
    <InputText id="first-name" @bind-Value="_model.Customer.FirstName" />
    <InputText id="last-name" @bind-Value="_model.Customer.LastName" />
    <InputText id="email" @bind-Value="_model.Customer.Email" />
    <InputText id="phone-number" @bind-Value="_model.Customer.PhoneNumber" />
    <InputText id="pet-name" @bind-Value="_model.Pet.PetName" />
    <InputText id="description" @bind-Value="_model.Description" />
    <InputDate @bind-Value="_model.Time" />
    <button type="submit">Submit</button>
</EditForm>*@